/*
Very simple css file as grapics and animation is made by js files
manipulating either the very simple DOM or the canvas for animation.
*/

body {
  background-color: lightgrey;
  font-size: 2em;
  line-height: 0.5em;
  text-align: center;
}

#score {
  display: flex;
  flex-flow: wrap;
}

#time {
  width: 33.33%;
}

#lives {
  width: 33.33%;
}

#gems {
  width: 33.33%;
}

#rules {
  font-size: 0.8em;
  width: 100%
}
